<app-header titulo="Data Time"></app-header>

<ion-content>

<ion-list-header>
  <ion-label>Datos de Nacimiento</ion-label>
</ion-list-header>  
<ion-item>
  <ion-label>Fecha de Nacimiento</ion-label>
  <ion-datetime [value]="fechaNacimiento.toISOString()"
                display-format="DD-MM-YYYY"
                (ionChange)="cambioFecha( $event )"></ion-datetime>
</ion-item>


<ion-item>
  <ion-label>Min -Max</ion-label>
  <ion-datetime display-format="DD-MM-YYYY"
                min="2015-01-01"
                max="2025-12-31"></ion-datetime>
</ion-item>

  
<ion-item>
  <ion-label>años</ion-label>
  <ion-datetime display-format="YYYY"
                min="2015"
                max="2025"></ion-datetime>
</ion-item>
 
<ion-item>
  <ion-label>Custom Options</ion-label>
  <ion-datetime [pickerOptions]="customPickerOptions"
                [yearValues]="customYearValues"></ion-datetime>
</ion-item>

</ion-content>
