<app-header titulo="Grid"></app-header>

<ion-content class="ion-padding" fullscreen>

<ion-grid>

  <ion-row fixed>
    <ion-col size=12 size-lg="3" size-md="4" size-sm="6"
      *ngFor="let img of [1,1,1,1,1,1,1,1,1,1,1,1]">
      <ion-card>
        <ion-img src="/assets/stan-lee.jpg"></ion-img>
      </ion-card>
      <ion-card-header>
        <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
        <ion-card-title>Awesome Title</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis rem enim repudiandae deserunt maxime sequi? Eaque aperiam aliquam, quis natus illo eum? Doloribus odio atque excepturi voluptatum totam optio voluptas?
      </ion-card-content>
    </ion-col>
  </ion-row>

    
</ion-grid>
</ion-content>
