<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/" text="Regresar" color=primary mode="ios">
            </ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-capitalize">Reorder</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="reorderDisabled=!reorderDisabled" color=primary>
                toogle
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-reorder-group [disabled]="reorderDisabled" (ionItemReorder)="doReorder( $event )">

            <ion-item *ngFor="let personaje of personajes">
                <ion-label>{{personaje}}</ion-label>
                <ion-reorder slod="end">
                    <ion-icon name="swap-vertical-outline"></ion-icon>
                </ion-reorder>
            </ion-item>
        </ion-reorder-group>
    </ion-list>
</ion-content>
