<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button menu="first"></ion-menu-button>
        </ion-buttons>
        <!--ion-buttons slot="start">
            <ion-button (click)="mostrarMenu()" color="primary">
                <ion-icon slot="icon-only" name="menu-outLine"></ion-icon>
            </ion-button>
        </!--ion-buttons-->
        <ion-title color="primary">componenetes</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let c of componentes | async" [routerLink]="c.redirectTo" detail>
            <ion-icon [name]="c.icon" slot="start" color="primary"></ion-icon>
            {{c.name}}
        </ion-item>

    </ion-list>
    <!--ion-button routerLink="/alert"></ion-content>>Alert</ion-button>
</ion-content>
<ion-content routerLink="/action-sheet">
  <ion-button>Action Sheet</ion-button-->
</ion-content>
