<app-header [titulo]="nombre || 'Inputs Forms' "></app-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-list-header>
      <ion-label>Input Normal</ion-label>
    </ion-list-header> 
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input type="text" placeholder="Nombre" [(ngModel)]="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Floating Label</ion-label>
      <ion-input></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="fixed">Fixed Label</ion-label>
      <ion-input></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Stacked Label</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>
  <form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">
    <ion-list>
      <ion-list-header>
        <ion-label>Formulario Validador {{formulario.valid}}</ion-label>
      </ion-list-header> 
        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input type="email" 
                    placeholder="Email" 
                    name= "email"
                    [(ngModel)]="usuario.email"
                    pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                    required ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input type="password" 
                    placeholder="Password" 
                    name= "password"
                    [(ngModel)]="usuario.password"
                    required ></ion-input>
        </ion-item>
        <ion-button [disabled]="formulario.invalid"
                     type="submit" expand="block">
          Enviar
        </ion-button>
      </ion-list>
  </form>



</ion-content>
