<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>search</ion-title>
  </ion-toolbar>
  <ion-searchbar placeholder="Buscar..."
           inputmode="text"
           (ionChange)="onSearchChange( $event )"
           [debounce]="250"
           animated

  ></ion-searchbar>

</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor= "let album of albums | filtro: textoBuscar: 'title' "> 
      <ion-label>{{album.title}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
