<app-header titulo="alerts"></app-header>

<ion-content>
    <ion-button (click)="presentAlert()" expand="block" >
        Click me
    </ion-button>
    <ion-button (click)="presentAlertMultipleButtons()" expand="block" >
        Multi Buttons
    </ion-button>
    <ion-button (click)="presentAlertPrompt()" expand="block" >
        Multi formulario
    </ion-button>
    <ion-button (click)="presentAlertRadio()" expand="block" >
        Multi formulario
    </ion-button>
</ion-content>
