<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title color=primary>avatar</ion-title>
<ion-buttons slot="end">
  <ion-avatar>
    <!--img src="/assets/stan-lee.jpg"-->
    <ion-img src="/assets/stan-lee.jpg"></ion-img>
  </ion-avatar>
</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-chip color=primary outline="true">
    <ion-avatar>
      <img src="/assets/stan-lee.jpg">
    </ion-avatar>
    <ion-label>Chip Avatar</ion-label>
  </ion-chip>

  <ion-list>
   <ion-item *ngFor="let item of [1,2,3,4,5,6,7,8,9]">
    <ion-avatar slot="end">
      <img src="/assets/stan-lee.jpg">
    </ion-avatar>
    <ion-label>Item Avatar</ion-label>
  </ion-item>
</ion-list>


</ion-content>
