<app-header titulo="caed"></app-header>

<ion-content>
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam ipsam nisi voluptatum placeat inventore, atque adipisci id a odit facilis illo earum saepe illum pariatur omnis quas. Reiciendis, quis non.
    </ion-card-content>
  </ion-card>

<ion-card>
  <img src="https://boliviamia.net/Images/Buses/Titicaca-bus-tickets.jpg" alt="">
  <ion-card-content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam ipsam nisi voluptatum placeat inventore, atque adipisci id a odit facilis illo earum saepe illum pariatur omnis quas. Reiciendis, quis non.
  </ion-card-content>
</ion-card>

</ion-content>
