<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons>

    <ion-title>Popover</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="presentPopover( $event )" color="primary">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="presentPopover( $event )" expand="block" >
    Popover
  </ion-button>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start" color="primary">
      <ion-button (click)="presentPopover( $event )">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
