<app-header titulo="Toast"></app-header>

<ion-content class="ion-padding">
  <ion-button (click)="presentToast()" expand="block" shape="round">
    Present Toast
  </ion-button>
  <ion-button (click)="presentToastWithOptions()" expand="block" >
    Present Toast Whit options
  </ion-button>
</ion-content>
