<ion-header>
  <ion-toolbar>
    <ion-title>{{nombre}}-{{pais}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="salirSinArgumentos()" expand="block" >
    Salir
  </ion-button>
  <ion-button (click)="salirConArgumentos()" expand="block" >
    Salir con argumentos
  </ion-button>

</ion-content>
